certifi==2018.11.29
chardet==3.0.4
fuzzywuzzy==0.17.0
idna==2.8
isodate==0.6.0
numpy==1.16.1
pandas==0.24.1
pkg-resources==0.0.0
PubChemPy==1.0.4
pyparsing==2.3.1
python-dateutil==2.8.0
python-Levenshtein==0.12.0
pytz==2018.9
rappt==1.0
rdflib==4.2.2
requests==2.21.0
six==1.12.0
SPARQLWrapper==1.8.2
tqdm==4.31.1
urllib3==1.24.1
